.bg{
    background-color: #1abc9c;
    width: 100%;
    margin-top: 100px;
    padding-bottom: 100px !important;
    padding-top: 100px;
}
.line{
    
    width: 90px;
    height: 5px;
    background-color: white;

}